{% extends 'homepage/homepage_base.html' %}

{% block banner_photo %}
	<article>
		<!--img here -->
		<img src="{{ i.image.url }}" alt="" />
		<div class="inner">
			<header>
				<!--img caption -->
				<p>{{i.location}}</p>
				<h2>{{i.title}}</h2>
			</header>
		</div>
	</article>
{% endblock %}


{% block detailed_article %}
	<div>
		<div class="box">
			<div class="image fit">
				<!--img here -->
				<img src="{{ i.image.url }}" alt="" />
			</div>
			<div class="content">
				<header class="align-center">
					<p>{{i.location}}</p>
					<h2>{{i.title}}</h2>
				</header>
				<p class="align-center"> {{i.text}}</p>
				<footer class="align-center">
					<a href="{% url 'show_gallery' pk=i.pk %}" class="button alt">Learn More</a>
				</footer>
			</div>
		</div>
	</div>
{% endblock %}



{% block divider %}
	<p>Ansel Adams</p>
	<h2>“You don’t take a photograph, you make it.”</h2>
{% endblock %}

{%block quick_article %}
		<div>
			<div class="image fit">
				<a href="{% url 'show_gallery' pk=i.pk %}"><img src="{{ i.image.url }}" alt="" /></a>
			</div>
		</div>
{% endblock %}