{% extends 'base_new.html' %}
{% block body %}

<style>
	.wrapper.style3 {
			background-image: url(static/images/testing.jpg);
</style>

<section id="One" class="wrapper style3">
		<div class="inner">
			<header class="align-center">
				<p> <!-- subtitle --></p>
				<h2>Gallery</h2>
			</header>
		</div>
</section>

<section id="gallery" class="wrapper style2">
	<div class="inner">
		<div class="gallery">

			{% for i in all_photos %}
				<div>
					<div class="image fit">
						<a ><img src="{{ i.image.url }}" alt="" /></a>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
</section>

								



{% endblock %}